name: Update
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
permissions:
  contents: write
  pull-requests: write
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
      - name: Bump API versions
        id: bump
        run: |
          BUMP=$(go run internal/bump/bump.go)
          echo "Changes: $BUMP"
          echo "changes=$BUMP" >> $GITHUB_OUTPUT
          go install github.com/oapi-codegen/oapi-codegen/v2/cmd/oapi-codegen@v2.4.1
          go generate ./...
        shell: bash
      - uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          title: "feat: ${{ steps.bump.outputs.changes }}"
